:root {
  /* ### Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  /* Primarys */
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);
}
/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: var(--very-dark-blue);
}
/* colors for cads */
.orange-color {
  background-color: var(--light-red-work);
  background-image: url(images/icon-work.svg);
}
.blue-play {
  background-color: var(--soft-blue-play);
  background-image: url(images/icon-play.svg);
}
.red-study {
  background-color: var(--light-red-study);
  background-image: url(images/icon-study.svg);
}
.green-exercise {
  background-color: var(--lime-green-exercise);
  background-image: url(images/icon-exercise.svg);
}
.violet-social {
  background-color: var(--violet-social);
  background-image: url(images/icon-social.svg);
}
.yellow-self-care {
  background-color: var(--soft-orange-self-care);
  background-image: url(images/icon-self-care.svg);
}

.container {
  width: 88%;
  margin: 20% auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.main-card {
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 16px;
}
.user-card {
  background-color: var(--blue);
  border-radius: 16px;
  padding: 33px 33px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user-card-name p {
  font-size: 15px;
  color: var(--pale-blue);
}
.user-card-name h2 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.user-card-img {
  width: 68px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 18px;
}
.date-card {
  color: var(--desaturated-blue);
  padding: 21px;
}
.date-card-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.date-card-flex p:hover,
.date-card-flex p:active {
  color: #fff;
  cursor: pointer;
}
.active {
  color: #fff;
}

/* regular cards */
.time-card {
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: 92% -10px;
}
.background {
  height: 40px;

  border-radius: 16px 16px 0 0;
}
.time-card-info {
  border-radius: 16px;
  background-color: var(--dark-blue);
  padding: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-card-info:hover,
.time-card-info:active {
  background-color: hsl(236, 44%, 25%);
}

.work_icon {
  top: -10px;
  left: 265px;
}

.work-hours p {
  margin-bottom: 10px;
}
.work-hours h2 {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}
.icon {
  width: 24px;
  height: 24px;
  text-align: left;
  margin-bottom: 10px;
  stroke: var(--pale-blue);
  cursor: pointer;
}
.last-week {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.last-week p {
  font-size: 14px;
  color: var(--pale-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 570px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-card {
    grid-column: 1 / -1;
  }
  .attribution {
    grid-column: 1 /-1;
  }
  .work-hours h2 {
    font-size: 24px;
  }
  .time-card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 25px 25px 10px 25px;
  }
  .time-card-lw {
    font-size: 14px;
    color: var(--pale-blue);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 70%;
    grid-template-columns: 23% 23% 23% 23%;
  }
  .work-hours h2 {
    font-size: 44px;
  }
  .time-card-lw {
    font-size: 12px;
  }
  .time-card-info {
    padding-bottom: 35px;
  }
  .main-card {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    height: 100%;
  }
  .green-exercise {
    grid-column: 2 / 2;
  }
  .user-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    height: 70%;
    padding: 15px;
  }
  .user-card-name h2 {
    font-size: 34px;
  }
  .date-card-flex {
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
  }
  .date-card-flex:last-child {
    margin-bottom: 10px;
  }
}
